<div class="main flex-container">
  <div id="main">
    <div style="text-align: center; ">
      Edit button label
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,1)" style="margin: 5px; width: 80%;">{{ btnName1 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,2)" style="margin: 5px; width: 80%;">{{ btnName2 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,3)" style="margin: 5px; width: 80%;">{{ btnName3 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,4)" style="margin: 5px; width: 80%;">{{ btnName4 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,5)" style="margin: 5px; width: 80%;">{{ btnName5 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,6)" style="margin: 5px; width: 80%;">{{ btnName6 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,7)" style="margin: 5px; width: 80%;">{{ btnName7 }} is on</button>
      <button type="button" class="btn btn-primary" (click)="buttonEdit(btnEdit,8)" style="margin: 5px; width: 80%;">{{ btnName8 }} is on</button>
    </div>
  </div>
  <div id="sub">
    <div style="text-align: center; ">
      Schedule
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,1)" style="margin: 5px; width: 80%;">Monday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,2)" style="margin: 5px; width: 80%;">Tuesday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,3)" style="margin: 5px; width: 80%;">Wednesday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,4)" style="margin: 5px; width: 80%;">Thursday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,5)" style="margin: 5px; width: 80%;">Friday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,6)" style="margin: 5px; width: 80%;">Saturday</button>
      <button type="button" class="btn btn-primary" (click)="schedEdit(schEdit,7)" style="margin: 5px; width: 80%;">Sunday</button>
      <button type="button" class="btn btn-primary" (click)="toDatalog()" style="margin: 5px; width: 80%;">Datalog</button>
    </div>
  </div>
</div>

<div>
  <ng-template #btnEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit button number {{ btnNumber }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="buttonName">Enter button name</label>
        <input type="text" class="form-control" [(ngModel)]="buttonName" aria-describedby="buttonNameEntry">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>

<div>
  <ng-template #schEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit {{ dateNumber }} Schedule</h4>
      <button class="btn btn-success" *ngIf="schStatus[dateRef] else schElse" (click)="schStat(dateRef)">Enabled</button>
      <ng-template #schElse>
        <button class="btn btn-danger" (click)="schStat(dateRef)">Disabled</button>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Start operation (24-hour)</label><br>
        <input #timeSlider type="range" class="form-range" min="0" max="2300" step="100" (click)="dataChange(timeSlider.value)" style="width:100%">
        <input type="text" class="form-control" [(ngModel)]="timeStartVal" placeholder="2300"><hr>
        <label>Duration (minutes)</label>
        <input type="text" class="form-control" [(ngModel)]="durationValueVal" placeholder="10">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>
