
<div class="content" role="main">
  <div class="card-container" style="height: 100px;">
    <div class="readout card card-interface">
      <span>Temperature<br>{{this.data[5] | number:'1.0-1'}}</span>
    </div>
    <div class="readout card card-interface">
      <span style="text-align: center; font-weight: bold;">Humidity<br>{{this.data[2] | number:'1.0-0'}}</span>
    </div>
    <div class="readout card card-interface">
      <span style="text-align: center; font-weight: bold;">EC Value<br>{{this.data[1] | number:'1.0-0'}}</span>
    </div>
    <div class="readout card card-interface">
      <span style="text-align: center; font-weight: bold;">pH Value<br>{{this.data[3] | number:'1.0-0'}}</span>
    </div>
  </div>
</div>

<div class="card-container">
  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat1==true; else elseBlock" (click)="buttonP(1)" >{{ btnName1 }} is on</button>
    <ng-template #elseBlock>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(1)">{{ btnName1 }} is off</button>
    </ng-template>
  </div>
  
  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat2==true; else elseBlock2" (click)="buttonP(2)">{{ btnName2 }} is on</button>
    <ng-template #elseBlock2>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(2)">{{ btnName2 }} is off</button>
    </ng-template>
  </div>

  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat3==true; else elseBlock3" (click)="buttonP(3)">{{ btnName3 }} is on</button>
    <ng-template #elseBlock3>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(3)">{{ btnName3 }} is off</button>
    </ng-template>
  </div>

  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat4==true; else elseBlock4" (click)="buttonP(4)">{{ btnName4 }}is on</button>
    <ng-template #elseBlock4>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(4)">{{ btnName4 }} is off</button>
    </ng-template>
  </div>
</div> 
<div class="card-container">
  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat5==true; else elseBlock5" (click)="buttonP(5)" >{{ btnName5 }} is on</button>
    <ng-template #elseBlock5>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(5)">{{ btnName5 }} is off</button>
    </ng-template>
  </div>
  
  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat6==true; else elseBlock6" (click)="buttonP(6)">D{{ btnName6 }} is on</button>
    <ng-template #elseBlock6>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(6)">{{ btnName6 }} is off</button>
    </ng-template>
  </div>

  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat7==true; else elseBlock7" (click)="buttonP(7)">{{ btnName7 }} is on</button>
    <ng-template #elseBlock7>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(7)">{{ btnName7 }} is off</button>
    </ng-template>
  </div>

  <div>
    <button type="button" class="interface btn btn-success" *ngIf="btnStat8==true; else elseBlock8" (click)="buttonP(8)">{{ btnName8 }} is on</button>
    <ng-template #elseBlock8>
      <button type="button" class="interface btn btn-danger" (click)="buttonP(8)">{{ btnName8 }} is off</button>
    </ng-template>
  </div>
</div>
<div class="content">
  <img src="../assets/IMG_20210218_143107_812.jpeg " width="500px" height="250px"/>
</div>


